@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d000c;
  color: #f2ecf1;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  font-size: 16px;
  line-height: 1.5;
}

.post h1 {
  @apply mb-4 text-4xl font-bold text-red-500;
}

.post h2 {
  @apply mb-4 text-2xl font-bold text-green-500;
}

.post h3 {
  @apply mb-4 text-xl font-bold;
}

.post code {
  @apply block p-1 font-mono text-sm rounded bg-slate-800;
}
